<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>



<body>

<div class="footer-container" >

  <div class="col-md-3 col-sm-3 no-padding">
    <div class='column'>

    </div>

  </div>

  <div class="col-md-3 col-sm-3 no-padding">
    <div class='column'>

    </div>
  </div>

  <div class="col-md-2 col-sm-2 no-padding">
    <div class='column'>
<ul class="list-unstyled">

        <li>

<select class="form-control input-lg"placeholder=".col-xs-2">
  <option>English</option>
  <option>French</option>
  <option>Spanish</option>
  <option>Québecois</option>
  <option>Portugnol</option>
  <option>Frenglish</option>
  <option>Aussie</option>
  <option>Kiwi</option>
  <option>Mandarin (not the fruit)</option>
</select>
        </li>


        <li>

<select class="form-control input-lg"placeholder=".col-xs-">
  <option>Pick a devise</option>
  <option>US </option>
  <option>CAD</option>
  <option>EUR</option>
  </option>
</select>

        </li>



      </ul>

    </div>
  </div>


</div>
</body>
