// Your footer style
.footer-container {
  margin-top: 40px;
  padding: 40px 0px 200px 100px;
  background-color: #fff;
  color: #484848;
  border-top: 3px solid #dce0e0;
}

.footer-onethird {
  border-left: 1px solid #dce0e0;
}
